body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: white;
}

h1,
p {
    margin: 10px;
    z-index: 2;
}

.background-blur {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('images/1d358e19a9d9368de0f231a4383c07f17d768500-1920x1080.jpg');
    background-size: cover;
    filter: blur(15px);
    z-index: -1;
}

.content {
    z-index: 1;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: white solid 1px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 35%;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}


.content.show {
    visibility: visible;
    opacity: 1;

    transition-delay: 0s;
}

.account-info {
    margin-top: 20px;
}

.account-info h2 {
    font-size: 2em;
}

.account-info p {
    font-size: 1.2em;
    margin: 10px 0;
}

input[type="text"] {
    background-color: white;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 7px;
    padding: 5px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    user-select: none;
}

input[type="text"]:hover {
    background-color: #f0f0f0;
    border: 2px solid #1ed464;
}

input[type="text"]:focus {
    outline: 0;
}

button {
    background-color: #007bff;
    color: white;
    border: 0;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color .3s ease-in-out;
    margin-top: 10px;
}

.btn-copy:hover {
    background-color: #0056b3;
}

.notification {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 5px;
    display: none;
    z-index: 3;
}


html {

    box-sizing: border-box;
    --bgColorMenu: #ffffff;
    --duration: .7s;

}

html *,
html *::before,
html *::after {

    box-sizing: inherit;

}

body {

    margin: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    -webkit-tap-highlight-color: transparent;
    transition: background-color var(--duration);

}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 1000;
    /* Ensure it stays on top */
}

.menu {

    margin: 50px;
    display: flex;
    /* Works well with 100% width  */
    width: 32.05em;
    font-size: 1.5em;
    padding: 0 2.85em;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: var(--bgColorMenu);
    border-radius: 26px;
}

.menu__item {

    all: unset;
    flex-grow: 1;
    z-index: 100;
    display: flex;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    align-items: center;
    will-change: transform;
    justify-content: center;
    padding: 0.55em 0 0.85em;
    transition: transform var(--timeOut, var(--duration));

}

.menu__item::before {

    content: "";
    z-index: -1;
    width: 4.2em;
    height: 4.2em;
    border-radius: 50%;
    position: absolute;
    transform: scale(0);
    transition: background-color var(--duration), transform var(--duration);

}


.menu__item.active {

    transform: translate3d(0, -.8em, 0);

}

.menu__item.active::before {

    transform: scale(1);
    background-color: var(--bgColorItem);

}

.icon {

    width: 2.6em;
    height: 2.6em;
    stroke: rgb(0, 0, 0);
    fill: transparent;
    stroke-width: 1pt;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 400;

}

.menu__item.active .icon {

    animation: strok 1.5s reverse;

}

@keyframes strok {

    100% {

        stroke-dashoffset: 400;

    }

}

.menu__border {

    left: 0;
    bottom: 99%;
    width: 10.9em;
    height: 2.4em;
    position: absolute;
    clip-path: url(#menu);
    will-change: transform;
    background-color: var(--bgColorMenu);
    transition: transform var(--timeOut, var(--duration));

}

.svg-container {

    width: 0;
    height: 0;
}


@media screen and (max-width: 50em) {
    .menu {
        font-size: .8em;
    }
}

.button-check-container {
    display: flex; /* Sử dụng flexbox để các button cùng hàng */
    justify-content: center; /* Căn giữa theo chiều ngang */
}

.button-check {
    padding: 10px 20px;
    margin: 0 5px; /* Khoảng cách giữa các button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-check.red {
    background-color: #dc3545; /* Màu đỏ */
    color: white;
}

.button-check.red:hover {
    background-color: #c82333; /* Màu đỏ khi hover */
}

.button-check.green {
    background-color: #28a745; /* Màu xanh lá cây */
    color: white;
}

.button-check.green:hover {
    background-color: #218838; /* Màu xanh lá cây khi hover */
}

.banner{
    position: absolute;
    top: 190px;
    font-family: sans-serif;
    color: red;
    text-shadow: -1px -1px 0 #fff,
                  1px -1px 0 #fff, 
                  1px  1px 0 #fff,    
                  1px  1px 0 #fff;
}

.no-select {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none; /* Standard syntax */
}

.input-error{
    outline: 1px solid red;
  }


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.confirmation-box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.confirmation-box button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#confirmBtn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}